.minesweeper {
  &__game {
    &-container {
      display: "flex";
      height: "500px";
    }
    &-row {
      display: flex;
    }
    &-cell {
      width: 40px;
      height: 40px;

      border: 1px solid black;
      cursor: pointer;
      text-align: center;

      background-color: white;
      color: black;
    }
  }
}
