$navbar-height: 40px;
$file-header-height: 30px;

// COLORS
$dark: #101010;
$dark-main: #202020;
$dark-active: #333333;
$dark-active-hovered: #474747;
$dark-hovered: #272727;

$light: #eeeeee;
$light-main: #ffffff;
$light-active: #f8f8f8;
$light-active-hovered: #fcfcfc;
$light-hovered: #f5f5f5;

$filter-light: invert(91%) sepia(99%) saturate(33%) hue-rotate(192deg)
  brightness(108%) contrast(99%);
$filter-dark: invert(0%) sepia(90%) saturate(7500%) hue-rotate(167deg)
  brightness(105%) contrast(109%);
