@use "./master" as *;

.desktop {
  height: calc(100% - $navbar-height - 20px);
  padding: 10px;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  // &__background {
  //   height: inherit;
  //   width: 100%;

  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: -1;
  // }
}

.desktop-grid {
  display: grid;
  height: 100%;
  width: 100%;
}
