@use "./master" as *;

.desktop {
  height: calc(100% - $navbar-height - 20px);
  padding: 10px;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.desktop-grid {
  display: grid;
  height: 100%;
  width: 100%;
}
