@use "./master" as *;

.desktop {
  // height: calc(100vh - $navbar-height - 20px);
  // height: calc(100dvh - $navbar-height - 20px);
  height: 100%;
  padding: 10px;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @media (max-width: 720px) {
    padding: 4px;
  }
}

.desktop-grid {
  display: grid;
  height: 100%;
  width: 100%;
}
