@use "./master" as *;

@font-face {
  font-family: "Segoe UI";
  src: url("../../public/fonts/SegoeUI.ttf") format("truetype");
}

@font-face {
  font-family: "Seven Segment";
  src: url("../../public/fonts/SevenSegment.ttf") format("truetype");
}

@font-face {
  font-family: "Fourteen Segment";
  src: url("../../public/fonts/LCD14.otf") format("truetype");
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Segoe UI";
}

.container {
  width: 100vw;
  height: 100vh;
  height: 100dvh;

  display: flex;
  flex-direction: column;
}

.files__container {
  position: absolute;
  z-index: 20;
}

.theme {
  &__light {
    .primary {
      &-bg {
        background-color: $light;
        color: $dark;
      }
      &-border {
        border-color: $dark;
      }
      &-svg {
        filter: $filter-light;
      }
      &-svg__alt {
        filter: $filter-dark;
      }
    }
    .unactive-bg {
      background-color: $light-main !important;
      .file__header {
        color: $dark-active;

        img {
          filter: $filter-dark;
        }
      }
    }
  }
  &__dark {
    .primary {
      &-bg {
        background-color: $dark;
        color: $light;
      }
      &-border {
        border-color: $light;
      }
      &-svg {
        filter: $filter-dark;
      }
      &-svg__alt {
        filter: $filter-light;
      }
    }
    .unactive-bg {
      background-color: $dark-active !important;
    }
  }
}

.no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

[draggable="true"] {
  position: relative;
  z-index: 1;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
