@use "./master" as *;

.navbar {
  width: 100%;
  height: $navbar-height;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;

  &__start {
    width: 50px;
  }

  &__minimize {
    border-left: 1px solid;
    width: 6px;
    height: 100%;
  }

  &__file {
    align-items: center;
    display: flex;
    column-gap: 5px;
    padding: 5px;

    box-shadow: 0px 24px 3px -24px magenta;

    img {
      height: $navbar-height - 10px;
    }
  }

  &__clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
  }

  &__widgets {
    align-items: center;
    display: flex;
    margin-right: 0;
    margin-left: auto;
  }
}
