@use "./master" as *;

.navbar {
  width: 100%;
  min-height: $navbar-height;
  display: flex;
  column-gap: 1px;
  z-index: 30;

  &__start {
    min-width: 51px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      img {
        filter: invert(14%) sepia(100%) saturate(4054%) hue-rotate(4deg)
          brightness(91%) contrast(88%);
      }
    }

    img {
      width: 30px;
      height: 30px;
    }
  }

  &__minimize {
    border-left: 1px solid;
    width: 5px;
    height: 100%;
  }

  &__files {
    min-width: 45px;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2px;

    overflow-y: hidden;
    overflow-x: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__file {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 13px;
    letter-spacing: 0.25px;

    &-info {
      height: 100%;
      align-items: center;
      display: flex;
      // column-gap: 7px;
      padding-bottom: 0;
    }

    &-name {
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-shadow {
      background-color: black;
      height: 2px;
      width: calc(100% - 10px);
      align-self: center;
    }

    &:hover > &-shadow,
    &-shadow.active {
      width: 100%;
    }

    &-icon {
      min-width: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      height: $navbar-height - 15px;
    }
  }

  &__lng {
    min-width: 45px;
    text-align: center;

    .select__value-container {
      padding: 0 !important;
    }
  }

  &__clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
    height: 100%;
    justify-content: space-evenly;
    font-size: 12px;

    @media (max-width: 350px) {
      display: none;
    }
  }

  &__widgets {
    align-items: center;
    display: flex;
    margin-right: 0;
    margin-left: auto;
    font-size: 14px;
  }

  &__btn {
    height: 100%;
  }

  .select__option {
    text-align: center;
    text-indent: unset;
  }
}

.theme {
  &__light {
    .navbar {
      &__btn {
        background-color: $light;
        &:hover {
          background-color: $light-hovered;
        }
        &.active {
          background-color: $light-active;
        }
        &.active:hover {
          background-color: $light-active-hovered;
        }
      }
    }
  }
  &__dark {
    .navbar {
      &__btn {
        background-color: $dark;
        &:hover {
          background-color: $dark-hovered;
        }
        &.active {
          background-color: $dark-active;
        }
        &.active:hover {
          background-color: $dark-active-hovered;
        }
      }
      .navbar__minimize {
        border-color: #707070 !important;
      }
    }
  }
}
